@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

body,h1,h2,h3,h4,h5,h6,span,a,p{
    font-family: 'DM Sans', sans-serif;
}
a{
    color: #717275;
    text-decoration: none;
}

/* img{
    max-width: 100%;
} */
/* Navigation CSS */
header{
    background: #fff;
    width: 85%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.primary-menu li a{
    color: #717275;
    position: relative;
}
.primary-menu li a:hover{
    color: #14b789;
}
.primary-menu li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: #14b789;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.primary-menu li a:hover::after{
    width: 80%;
}
nav .logo{
    font-size: 30px;
    font-weight: 600;
    color: #111;
}
.h-btn span{
    width: 40px;
    height: 40px;
    background: #14b789;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 30px;
}
.h-btn h6{
    margin-bottom: 0;
    background: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #14b789;
    border: 2px solid #14b789;
    transition: .4s;
    font-weight: bold;
}
.h-btn h6:hover{
    background: #14b789;
    color: #fff;
}
/* Navigation CSS End */

/* Hero Section Start  */
.hero{
    background: #535da1;
    /* height: 50vh; */
    padding-top: 330px;
    padding-bottom: 330px;
    overflow: hidden;
}
.hero-text h1{
    background: #fff;
    color: #14b789;
    font-size: 40px;
    font-weight: 600;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.hero-text a{
    display: inline-block;
    background: #535da1;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    transition: .4s;
}
.hero-text a:hover{
    background: #14b789;
}
.hero-avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}
.hero-title-wrap h2{
    background: #fff;
    color: #111;
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 50px;
}
.hero-image-wrap{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    z-index: 22;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
}
.hero-image {
    width: 100%;
    min-width: 550px;
    position: absolute;
    top: 0;
    /* bottom: -21px; */
    z-index: 22;
}
/* Hero Section End */

/* About Section  */

.about-section{
    padding: 100px 0;
}
.about-image{
    border-radius: 20px;
}
.about-thum{
    background: #14b789;
    padding: 10px 20px;
    border-radius: 20px;
}
.about-thum h1{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
.about-thum .hero-avatar{
    width: 160px;
    height: 160px;
}
.about-section-title h3{
    font-size: 30px;
    font-weight: 700;
    color: #111;
}
.about-section-title p{
    color: #717275;
}
/* About Section End */

/* Features Section Start  */
    .featured{
        background: #f9f9f9;
        padding: 100px 0;
    }
    .featured-table{
        border: 1px solid #e9eaeb;
        border-radius: 20px;
    }
    .ft-header{
        border-bottom: 1px solid #e9eaeb;
        padding: 15px 30px;
    }
    .ft-header h2{
        color: #111;
        font-size: 32px;
        font-weight: 700;
    }
    .ft-title{
        font-size: 18px;
        color: #14b789;
        font-weight: bold;
        padding: 13px 30px;
        border-right: 1px solid #e9eaeb;
        min-width: 140px;
        display: inline-block;
        margin-right: 10px;
    }
    .ft-body p{
        font-size: 18px;
        color: #717275;
        margin-bottom: 0;
    }
    .ft-body p:nth-of-type(odd){
        background: #fff;
    }
    .ft-thumb{
        padding-left: 20px;
        padding-right: 20px;
    }
    .featured-number{
        font-size: 61px;
    }
    .featured-text{
        color: #14b789;
        font-size: 17px;
    }
/* Features Section End */

/* Clients Section  */

.clients{
    padding: 100px 0;
}

.client-img-height{
    height: 120px;
}
.client-img{
    display: block;
    max-width: 100px;
    margin: auto;
    transition: .2s;
}
.client-img:hover{
    transform: scale(1.2);
}
/* Clients Section End */

/* Service Section Start  */
.service-section{
    background: #f9f9f9;
    padding: 100px 0;
}
.service-head{
    background: #14b789;
    border-radius: 20px;
    padding: 13px 30px;
}
.service-head .hero-avatar{
    width: 160px;
    height: 160px;
}
.service-head h2{
    font-size: 48px;
    color: #fff;
    font-weight: bold;
}
.service-thumb{
    background: #fff;
    padding: 40px 40px 240px 40px;
    border: 2px solid transparent;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    margin-bottom: 24px;
}
.service-thumb-up{
    position: relative;
    bottom: 50px;
    margin-bottom: -50px;
}
.service-thumb h3{
    font-size: 36px;
    font-weight: bold;
}
.service-thumb p{
    color: #717275;
    font-size: 18px;
    font-weight: normal;
}
.service-price{
    background: #14b789;
    padding: 6px 14px 6px 14px;
    border-radius: 20px;
}
.service-price-text{
    color: #fff !important;
    font-weight: bold !important;
    font-size: 14px !important;
}
.custom-btn{
    border-radius: 100px;
    padding: 12px 24px;
    font-weight: bold;
    transition: .4s;
}
.custom-btn:hover{
    color: #fff;
    background: #14b789;
}
.custom-btn-border{
    color: #717275;
    background: transparent;
    border: 2px solid #e9eaeb;
}

.service-icon-wrap{
    border: 1px solid #e9eaeb;
    border-radius: 10px;
    width: 50%;
    height: 55%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-35deg) translateY(55px);
    transition: .5s;
}
.service-icon{
    font-size: 90px;
    position: relative;
    bottom: 15px;
}
.service-thumb:hover{
    border: 2px solid #14b789;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);;
}
.service-thumb:hover .service-icon-wrap{
    background: #14b789;
    color: #fff;
}
/* Service Section End */
/* Project Start */

.project-section{
    padding: 100px 0;
}

.project-thumb{
    background: #f9f9f9;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
    transition: .3s;
    margin-top: 24px;
    margin-bottom: 24px;
}
.project-tag{
    color: #14b789;
    text-transform: uppercase;
}
.project-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.popup-img{
    display: block;
    width: 100%;
    height: 100%;
}
.project-thumb .project-img{
    border-radius: 20px;
    width: 100%;
    transform: rotate(10deg) translateY(80px);
    transition: .5s;
}
.project-thumb:hover{
    border: 2px solid #14b789;
}
.project-thumb:hover .project-img{
    transform: rotate(0) translateY(0);
}
/* Project End */

/* Contact Section Start  */
.custom-form{

}
.contact-section{
    padding: 100px 0;
    background: #f9f9f9;
}
.contact-form{
    margin-left: 10px;
}
.contact-info{
    background: #fff;
    padding: 60px 30px 30px 30px;
    height: 100%;
}
.contact-info .footer-title-a:hover{
    color: #14b789;
}
.site-footer-title{
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
}
.footer-menu{
    margin: 0;
    padding: 0;
    padding-left: 0;
}
.footer-menu-item{
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.footer-menu-link{
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    min-width: 70px;
    border: 1px solid #e9eaeb;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #717275;
    vertical-align: top;

    transition: .4s;
}
.footer-menu-link:hover{
    background: #14b789;
    color: #fff;
}
.social-icon{
    margin: 0;
    padding: 0;
}
.social-icon-item{
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.social-icon-link{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    border: 1px solid #e9eaeb;
    border-radius: 100px;
    margin: 2px 2px 5px 2px;
    transition: .4s;
}
.social-icon-link:hover{
    background: #14b789;
    color: #fff;
}
.contact-info p{
    color: #717275;
    font-size: 18px;
    font-weight: 400;
}
.form-floating label{
    color: #717275;
}

/* Check box css */
.form-check-input[type=checkbox] {
    width: 100%;
    padding: 40px 50px;
    margin-top: 0;
    margin-left: 0 !important;
    background: #fff;
    border: 2px solid #e9eaeb;
    box-shadow: none ;
    outline: none ;
}
.form-check-inline{
    position: relative;
    margin-right: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;
}
.custom-form .form-check-label{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.form-check-icon{
    color: #14b789;
}
.form-check-icon-text{
    color: #717275;
    display: block;
    margin-top: 5px;

}


.form-check-input:hover,
.form-check-input:checked
{
    background: transparent;
    border-color: #14b789;
}
/* Check box css end */

.custom-form .form-floating textarea{
    height: 150px;
}
.custom-form .form-control {
    background: #fff;
    box-shadow: none;
    outline: none;
    margin-bottom: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 2px solid #e9eaeb;
}
.custom-form .form-control:hover,
.custom-form .form-control:focus{
    /* background: transparent; */
    border-color: #14b789;
}
.custom-form button[type=submit]{
    color: #fff;
    background: #14b789;
    border-radius: 100px;
    font-weight: 700;
    border: none;
    transition: .3s;
}
.custom-form button:hover{
    background: #535da1;
}
/* Contact Section End */

/* Footer Section */

.site-footer{
    border-top: 1px solid #e9eaeb;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.copyright-text{
    padding-right: 25px;
    border-right: 1px solid #e9eaeb;
    margin-right: 20px;
}
.copyright-text-wrap{
    font-size: 14px;
}
.copyright-text-wrap p{
    color: #717275;
}
.copyright-text-wrap a{
    font-weight: bold;
}
/* Footer Section End */